@use '../abstracts/variables' as *; 
@use '../abstracts/mixins' as *;

.header {
  // --- NAVEGACIÓN (Navbar) ---
  &__nav {
    display: none; // Oculto por defecto en móvil

    @include mq($bp-desktop) {
      display: block; // Visible en escritorio
    }

    // ESTADO ACTIVO (Móvil desplegado)
    &.is-active {
      display: flex;
      position: fixed;
      justify-content: center;
      top: 100%; // Debajo de la barra
      left: 0;
      width: 100%;
      height: 100vh;
      background: rgba(0,0,0,0.98); // Fondo sólido
      padding-top: $spacing-xl *4;
      text-align: center;
      border-top: 1px solid rgba(255,255,255,0.1);
      
      // Animación
      animation: slideDown 0.3s ease forwards;
    }
  }

  // --- LISTA DE ENLACES ---
  &__menu {
    display: flex;
    gap: $spacing-unit * 4;
    list-style: none;
    padding: 0;
    margin: 0;

    // Móvil: Vertical
    flex-direction: column;
    
    // Desktop: Horizontal
    @include mq($bp-desktop) {
      flex-direction: row;
      align-items: center;
    }
    
    a {
      color: $color-text-primary;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.2rem; // Grande en móvil
      letter-spacing: 1px;
      transition: color 0.3s;
      position: relative;



      @include mq($bp-desktop) {
        font-size: 0.9rem; // Normal en desktop
      }

      // Efecto Hover Dorado
      &:not(.btn):hover {
        @include text-gold;
      }
    }
  }

  .btn--gold {
    color: black;
    
  }

  // --- BOTÓN HAMBURGUESA ---
  &__toggle {
    background: none;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    padding: 5px;
    
    // Se oculta en escritorio
    @include mq($bp-desktop) {
      display: none; 
    }
  }
}

// Keyframes para la animación
@keyframes slideDown {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}